.home {
  width: 100%;
  min-height: 80vh;
  background-image: url("../../assets/utama/utamaX.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: contain;
}
@media screen and (max-width: 750px) {
  .home {
    h1 {
      width: 300px;
      padding: 10px;
    }
    h3 {
      padding: 10px;
    }
  }
}
