.pvt-header {
  display: flex;
  align-items: center;
  padding-left: 5px;
  height: 100%;
  position: relative;
  .right {
  }
  .left {
    position: fixed;
    top: 15px;
    right: 3px;
    display: flex;
    align-items: center;
    .icon {
      font-size: 20px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 700px) {
  .pvt-header {
    .right {
      display: none;
    }
  }
}
