.permohonan {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--primary);
  img {
    width: 250px;
    object-fit: contain;
  }
  .steps-bar {
    width: 80%;
    margin: auto;
  }
  .steps-content {
    width: 100%;
    min-height: 80vh;
  }
  .steps-footer {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    .btn-x {
      display: flex;
      gap: 10px;
    }
  }
}
.ant-steps .ant-steps-item-wait .ant-steps-item-icon {
  background: var(--white);
}
