.rumusan {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  margin-top: 10px;
  margin-right: 10px;
  min-height: 80vh;
  h3 {
    padding: 10px;
  }
  .table-data {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgb(228, 224, 224);
    border-radius: 5px;
    min-height: 500px;
    margin: 5px;
    .filter-details {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 10px;
      .left {
        width: 200px;
        p {
          font-size: 12px;
        }
        .below {
          margin-top: 10px;
        }
      }
      .right {
        margin-top: 10px;
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 2px solid var(--black);
        border-radius: 5px;
      }
    }
    th {
      background-color: var(--table-head);
      color: var(--white);
      text-align: center;
    }
    td {
      text-align: center;
    }
    .btns-info {
      align-self: flex-end;
      display: flex;
      gap: 5px;
      margin-top: 10px;
      .btn {
        padding: 5px 10px;
        background-color: var(--gold);
        color: var(--white);
        cursor: pointer;
      }
      .blue {
        background-color: var(--primary-lt);
      }
    }
  }
}
