.view-details-modal {
  height: 530px;
  width: 400px;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: auto;
  img {
    object-fit: contain;
    height: 400px;
  }
  .docx {
    height: 400px !important;
    width: 100%;
    overflow-y: auto;
  }
}
