.petimasuk-x {
  padding: 10px;
  min-height: 80vh;
  margin: 10px;
  background-color: var(--white);
  .actions {
    display: flex;
    padding: 10px;
    padding-left: 0px;
    gap: 20px;
    .btn {
      padding: 10px;
      border-radius: 5px;
      background-color: var(--red);
      color: var(--white);
      cursor: pointer;
    }
    .btn-read {
      background-color: var(--dark-voilet);
    }
  }
  .list {
    .item {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 10px;
      cursor: pointer;
      p {
        margin: 0px;
        color: var(--blue);
      }
      .peti-icon {
        color: var(--blue);
        font-size: 22px;
      }
      &:hover {
        background-color: rgb(245, 244, 242);
      }
    }
  }
}
