.latarBelakang {
  display: flex;
  flex-direction: column;
  .main-heading {
    margin-top: 10px;
    color: var(--primary);
    text-align: center;
  }
  .about-img {
    width: 700px;
    object-fit: contain;
    margin: auto;
  }
  .matlamat-nscp {
    width: 85%;
    height: 120px;
    background-color: var(--primary);
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    color: white;
    hr {
      width: 100%;
    }
    p {
      text-align: center;
    }
  }
  .objektif {
    padding-top: 15px;
    width: 85%;
    margin: auto;
    color: var(--primary);
    h3 {
      text-align: center;
    }
    ol li {
      padding: 5px;
      margin-bottom: 5px;
      text-align: justify;
    }
  }
  .fungsi-nscp {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h3 {
      color: var(--primary);
    }
    .fungsi-cards {
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(2, 300px);
      gap: 10px;
      .card {
        width: 100%;
        height: 150px;
        border-radius: 10px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
        .text {
          color: white;
          position: absolute;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.5);
          width: 100%;
          text-align: center;
          border-radius: 10px;
          padding: 5px;
        }
      }
    }
  }
  .heading-pihak {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--primary);
  }
  .authorities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 160px;
    padding: 0px 10px;
    background-color: var(--primary);
    .authority {
      display: flex;
      width: 150px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
      .title {
        color: white;
        font-size: 10px;
        text-align: center;
      }
    }
  }
}
