.kemaskini-modal {
  display: flex;
  flex-direction: column;

  .top-header {
    background-color: var(--orange);
    height: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    .btnCnl {
      cursor: pointer;
    }
  }
  .content-row {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    .btn-row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        padding: 5px 15px;
        text-align: center;
        color: var(--white);
        margin-bottom: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
      p:last-child {
        margin-bottom: 20px;
      }
      .jm-pendek {
        background-color: var(--orange-lts);
      }
      .jm-sederhana {
        background-color: var(--orange-lt);
      }
      .jm-penjang {
        background-color: var(--orange);
      }
      .simpan {
        background-color: green;
      }
    }
  }
}
.modalKemStyle .ant-modal-content {
  padding: 0px;
}
