.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  .logox {
    display: flex;
    align-items: center;
    img {
      height: 55px;
      object-fit: contain;
    }
  }
  .navbars {
    width: 85%;
  }
}
.ant-menu-title-content {
  font-weight: 600;
  font-size: 14.5px;
  font-family: "Nunito", sans-serif;
}
