.profilenscp {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url("../../assets/profilenscp/profilenscp.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: contain;
  .main-h1 {
    text-align: center;
    padding-top: 70px;
    font-weight: bold;
    color: white;
  }
  .main-p {
    text-align: center;
    color: white;
    padding-top: 10px;
  }
  .main-container {
    margin: auto;
    display: grid;
    // height: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-bottom: 30px;
    .item {
      width: 300px;
      height: 150px;
      border-radius: 10px;
      position: relative;
      transition: transform 0.5s ease-in;
      .img1 {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
      .text {
        position: absolute;
        bottom: 10px;
        font-size: 17px;
        left: 30px;
        font-weight: bold;
        color: white;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .profilenscp {
    .main-h1 {
      padding-top: 20px;
    }
    background: var(--primary);
    height: fit-content;
    padding-bottom: 20px;
    .main-container {
      grid-template-columns: repeat(1, 1fr);
      .item {
        width: 300px;
        .text {
          font-size: 16px;
        }
      }
    }
  }
}
