.pengesahan {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .main-h {
    background-color: var(--white);
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .top-row {
    display: flex;
    justify-content: space-around;
    .p-h {
      color: var(--white);
      padding: 5px 45px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 15px;
      .icon {
        font-size: 20px;
      }
    }
    .belum {
      background-color: var(--table-head-drk);
    }
    .not-belum {
      background-color: var(--table-head-lt);
    }
  }
  .table-data {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-top: 15px;
    border: 1px solid rgb(228, 224, 224);
    margin-right: 10px;
    border-radius: 5px;
    min-height: 500px;
    background-color: var(--white);
    .desc {
      font-size: 14px;
    }
    .filter-row {
      display: flex;
      gap: 50px;
      margin-top: 20px;
      .my-div {
        width: 200px;
      }
      margin-bottom: 10px;
    }
    th {
      background-color: var(--table-head);
      color: var(--white);
      text-align: center;
    }
    th > .bill {
      width: 50px !important;
    }
    td {
      text-align: center;
      .td-span {
        background-color: yellow;
      }
      .td-disahkan {
        background-color: var(--green-new);
        padding: 3px 6px;
        border-radius: 10px;
        color: var(--white);
      }
    }
  }
}
.icon-cms-eye {
  font-size: 20px;
  cursor: pointer;
  color: var(--blue);
}
.icon-penges {
  font-size: 20px;
  cursor: pointer;
}
