.custom-implementation {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  h4 {
    margin: 5px 0px;
  }
  .main-filters {
    display: flex;
    justify-content: space-between;
  }
  .main-statics {
    flex: 3;
    min-height: 200px;
    display: flex;
    gap: 5px;
    width: 100%;
    margin-top: 5px;

    .box {
      flex: 1;
      border: 1px solid var(--grey-light);
      border-radius: 5px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      .col1 {
        display: flex;
        width: 92%;
        padding: 5px 10px;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--grey-light);
        border-radius: 10px;
        .desc {
          display: flex;
          flex-direction: column;
        }
        .icon {
          font-size: 20px;
          color: var(--grey-drk);
          cursor: pointer;
        }
      }
    }
    .graph {
      flex: 2;
      border: 1px solid var(--grey-light);
      border-radius: 5px;
      padding: 5px;
    }
  }
}
