body {
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #152b52;
  --secondary: #0abb87;
  --dark-black: #1b1b28;
  --dark-light: #1e1e2d;
  --white: #fff;
  --gold-dark: #d6b035;
  --gold-light: #e0c468;
  --grey-dark: #9f9f9f;
  --grey-light: #bebebe;
  --grey-lightest: #f2f3f8;
  --black: #000;
  --light-green: #8dd8a7;
}
.app-content {
  display: flex;
  width: 100%;
  height: 90vh;
  padding-top: 80px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0px;
}
