.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 111;
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.logos .logo1 {
  margin: 10px;
  width: 200px;
}
.logos .logo2 {
  width: 100px;
  height: 70px;
  object-fit: contain;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  color: #fff;
}

.nav-links li a {
  padding: 10px 10px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.nav-links li a.active {
  border-bottom: 3px solid var(--secondary);
  padding: 5px 5px;
}
.nav-links li a:hover {
  color: #fff;
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
}
.login {
  background-color: var(--secondary);
  padding: 5px 20px;
  border-radius: 5px;
}
.chair {
  color: var(--primary);
  font-size: 20px;
  margin: 0px 15px;
  padding: 2px;
  background-color: white;
  border-radius: 50%;
}
.burger {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .nav-links {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 65px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links li {
    margin-bottom: 10px;
  }

  .burger {
    display: block;
  }
}

.line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

.nav-open {
  transform: translateX(0%);
}
