.main-heading {
  background-color: var(--dark-black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 20px;
  color: var(--white);
  position: relative;
}
.main-heading-not {
  background-color: var(--dark-black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 15px;
  color: var(--white);
  position: relative;
}
.collapsee-icon {
  position: fixed;
  left: 225px;
  cursor: pointer;
}
.not-collapsee-icon {
  position: fixed;
  left: 55px;
  cursor: pointer;
  transform: rotate(180deg);
}
.icon {
  font-size: 20px;
}
.desc-main {
  width: 100%;
  height: 80px;
  background-color: var(--dark-light);
  flex-direction: column;
}
.desc-main p {
  padding: 5px;
  color: var(--white);
  font-size: 12px;
  text-align: center;
}
.desc-main-non {
  display: none;
}
.desc-main .heading {
  display: flex;
  padding: 5px;
  align-items: center;
}
.desc-main .heading .main-icon {
  font-size: 20px;
  color: var(--white);
}
.desc-main .heading span {
  font-size: 15px;
  color: var(--white);
}
/* header section */
.header-main {
  padding: 0;
  /* background-color: var(--white); */
}
/* footer section */
.footer {
}
.footer .muo {
  height: 50px;
  object-fit: contain;
}
.footer .plan {
  height: 50px;
}
@media screen and (max-width: 700) {
  .main-heading {
    font-size: 15px;
  }
}
